.admin-sidebar {
    width: 250px;
    background-color: rgb(7, 7, 57);
    color: white;
    height: 100vh;
}

.admin-sidebar ul li {
    margin: 20px 0;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.admin-sidebar ul li a {
    color: white;
    text-decoration: none;
}

.admin-sidebar ul li a.active {
    color: bisque;
}

.logo-link {
    text-decoration: none;
    /* Remove underline from the AutoMate link */
}

.name {
    color: rgb(255, 136, 0);
    padding: 20px;
    padding-top: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.name:hover {
    color: rgb(223, 88, 30);
    /* Change to a light color on hover */
}

.underline {
    color: rgb(43, 43, 136);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}