
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
label,
button {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.searchItemContents{
    display: flex;
        /* background-color: bisque; */
}

.results{
    background-color: white;
}






.sidebar {
    width: 250px;
    height: 400px;
    padding: 20px;
    background-color:bisque;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    
}
.sidebar h1{
    padding: 10px;
    font-size: 25px;
    padding-left: 0px;;
}
.sidebar form {
    display: flex;
    flex-direction: column;
}

.sidebar label {
    margin-bottom: 5px;
    font-weight: bold;
}

.sidebar input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}

.sidebar button {
    margin-top: 10px;
    padding: 10px;
    width: 180px;
    border: none;
    background-color: rgb(255, 136, 0);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: rgb(255, 115, 0);
}


.results{
    flex-grow: 1;
        padding: 20px;

}



.results {
    flex: 3;
    padding: 20px;
}

.results h2 {
    font-size: 24px;
    color: rgb(14, 14, 83);
    margin-bottom: 20px;
}



.cards  {
    list-style-type: none;
        padding: 0;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cards:hover {
    background-color: rgb(254, 219, 176);
}