/* General Styles */
.about-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

/* Header Styles */
.about-container h1, .about-container h2 {
  color: rgb(7, 7, 57);
  padding: 20px;
  
  
}

.about-container h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
  padding: 20px;
padding-bottom: 0px;
}

.about-container h2 {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 0px;
padding-bottom: 0px;
}

/* Paragraph Styles */
.about-container p {
  font-size: 1em;
  margin-bottom: 20px;
padding: 20px;
}

/* List Styles */
.about-container ul {
  list-style: none;
padding: 20px;
}

.about-container ul li {
  background:bisque;
  margin: 5px 0;
  padding: 10px;
  border-left: 5px solid rgb(231, 152, 5);
}

/* Contact Info Styles */
.contact-info {
  /* background: rgb(231, 152, 5); */
    
  /* color:rgb(231, 152, 5); */
    
  /* padding: 20px; */
  margin-top: 20px;
  border-radius: 5px;
  
}

.contact-info p {
  margin: 0;
  font-size: 1em;
  padding-top: 2px;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Social Media Links */
.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #00aaff;
  text-decoration: none;
  margin-right: 10px;
}

.social-links a:hover {
  text-decoration: underline;
}
