.LSP-loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #e7f3ff,
    #0c81e0
  ); /* Gradient using Secondary and Neutral Color 1 */
}

.LSP-leftContainer {
  text-align: center;
  margin-bottom: 20px;
}

.LSP-leftContainer h1 {
  margin: 0;
  font-size: 2rem;
  color: #ff8800; /* Accent Color 1 */
}

.LSP-leftContainer p {
  color: rgb(14, 14, 83); /* Primary Color */
}

.LSP-container {
  background: #ffffff; /* Neutral Color 1 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.LSP-inputs {
  display: flex;
  flex-direction: column;
}

.LSP-input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.LSP-Icon {
  margin-right: 10px;
  color: #22577a; /* Accent Color 2 */
}

.LSP-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #8080ac; /* Accent Color 3 */
  border-radius: 4px;
}

.LSP-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.LSP-submit {
  background-color: #22577a; /* Teal Blue */
  color: #ffffff; /* Neutral Color 1 */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.LSP-submit:hover {
  background-color: #1a4460; /* Darker shade of Teal Blue */
}

.LSP-vehicleOption {
  margin-top: 15px;
}

.LSP-vehicleTitle {
  margin-bottom: 10px;
  color: #22577a; /* Accent Color 2 */
}

.LSP-vehicles {
  display: flex;
  justify-content: space-evenly;
}

.LSP-existing-account {
  text-align: center;
  margin-top: 20px;
  color: rgb(14, 14, 83); /* Primary Color */
}

.LSP-underline {
  height: 1px;
  background-color: #f2f2f2; /* Neutral Color 2 */
  margin: 20px 0;
}

@media (max-width: 768px) {
  .LSP-container {
    padding: 15px;
  }

  .LSP-submit {
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .LSP-leftContainer h1 {
    font-size: 1.5rem;
  }

  .LSP-container {
    width: 100%;
  }

  .LSP-input {
    flex-direction: column;
    align-items: flex-start;
  }

  .LSP-input input {
    width: calc(100% - 20px);
  }

  .LSP-vehicles {
    flex-direction: column;
  }

  .LSP-submit {
    padding: 10px;
    width: 100%;
  }
}
.login-link {
  color: rgb(14, 14, 83); /* Primary Color */
  cursor: pointer;
  text-decoration: underline; /* Underline for better visibility */
}

.login-link:hover {
  color: #2d87eecc; /* Bright Orange */
  font-weight: bold; /* Make it bold on hover */
}
